/* all common css star  */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
a,a:hover{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
ul,ol{
    list-style: none;
}
/* all common css end  */

/* blog part star  */
#blog_part{
    padding: 60px 0 150px;
    background: #1a1a1a;
}
.blog_text h3{
     font-size: 40px;
     font-family: 'Ubuntu', sans-serif;
     font-weight: 600;
     position: relative;
}
.blog_text h3::after {
	height: 2px;
	width: 70px;
	content: "";
	position: absolute;
	background: #ff7a21;
	bottom: -110%;
	transform: translateY(-50%);
	right: 40%;
    border-radius: 10px;
  
}
.blog_iteam{
    margin-top: 100px;
}
.blog_iteam_text p{
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	line-height: 26px;
	padding-top: 13px;
    color: #fffaf0;
	/* padding-left: 19px; */
}
.blog_iteam{
    position: relative;
}
 .blog_iteam .blog_iteam_text h6 {
   padding-top: 10px;
}
 .blog_iteam .blog_iteam_text h6 {
    font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}
.color{
    color: #ff7a21;
}

.blog_iteam .blog_img:hover img{
    transform: scale(1.2);
}
.blog_iteam .blog_img img{
   
   transition: 0.7;
}
.blog_iteam .blog_img{
    overflow: hidden;
   
}
.blog_iteam .blog_iteam_text:hover p{
    color: #ff7a21;
}

.prev {
    
        color: #fffaf0;
        top: 50%;
        left: -55%;
        font-size: 40px;
        position: absolute;
        z-index: 222;
    transform: translateY(-50%);
}
.next{
    color: #fffaf0;
    top: 50%;
    right: -55%;
    font-size: 40px;
    position: absolute;
    z-index: 222;

}
/* blog part end */